body{
	background-color:#f0f8ff;
	font-family: cursive;
}
html {
  scroll-behavior: smooth;
}
#b2{
	margin-left: -70px !important;
}
#b1{
	margin-left: -12px !important;
}
code{
	background-color: #96C9D9 !important;
}
.navbar{
	position: fixed;
	 top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #0F83A9 !important;
  color: black !important;
}
.nav-item{
	border-radius: 10px;
	margin-left: 0px;
}
table{
	 margin:50px;
	 margin-left: 90px;
}
pre{	
	background-color:#96C9D9;
	padding: 10px;
	width: 75%;
	border-radius: 20px;
	margin-left: 100px;
}

td {

	
	padding-bottom: 10px;

	min-width: 200px;


}
.center{
	padding-top: 40px;
	margin: 20px;
	padding-left: 20px;
	margin-left: 70px;
	margin-right: 60px;
}
